<div id="navigation" role="navigate"> 
  <ul>
    <li><%= link_to "Home Page", :action => "home" %> </li>
   <li><%= link_to "About The Club", :action => "about" %> </li>
   <li><%= link_to "How To Join", :action => "join" %></li>
   <li><%= link_to "What You Need", :action => "need" %> </li>
   <li><%= link_to "2013 Programe", :action => "prog" %> </li>
   <li><%= link_to "Newsletter", :action => "news" %> </li>
   <li><%= link_to "Club Matters", :action => "matt" %> </li>
   <li><%= link_to "How To Get There", :action => "maps" %> </li>
   <li><%= link_to "Book A Lawn", :action => "book" %> </li>
   <li><%= link_to "Links to Croquet Sites", :action => "links" %></li>
  </ul>
</div>

